nav {
  justify-content: space-between;
  padding-right: 18.5rem;
  padding-left: 1.5rem;
  align-items: center;
  height: $nav_height;
  position: absolute;
  display: flex;
  z-index: 2;
  right: 0;
  left: 0;
  top: 0;

  .left-panel {
    align-items: center;
    display: flex;
    flex-grow: 1;

    #logo {
      cursor: pointer;
      width: 6rem;

      img {
        width: 100%;
      }
    }

    .header-box {
      justify-content: center;
      display: flex;
      flex-grow: 1;

      .header {
        transform: translateY(-2px);
        font-size: 1.5rem;
      }
    }
  }

  #lang {
    display: flex;

    a {
      padding-bottom: 0.6rem;
      padding-top: 0.6rem;
      padding-right: 1rem;

      &:not(:last-child) {
        border-right: 1px solid #acfb;
      }

      &:not(:first-child) {
        padding-left: 1rem;
      }
    }
  }

  #page-controls {
    transform: scale(0.45);
    position: fixed;
    right: -8.5rem;
    top: 0.5rem;

    #page-controls-wrapper {
      position: relative;
      display: flex;

      .page-control {
        height: $page_controller_width;
        width: $page_controller_width;
        cursor: pointer;

        svg {
          height: 100%;
          width: 100%;

          circle {
            r: calc(50% - $page_controller_line_width);
            stroke-width: $page_controller_line_width;
            stroke-dasharray: 255;
            // stroke-linecap: round;
            stroke: #fff4;
            fill: none;
            cy: 50%;
            cx: 50%;
          }

          .control-svg {
            transition: 1s ease-in-out;
            stroke: #fff !important;
            stroke-dashoffset: 255;

            &.active {
              stroke-dashoffset: 0;
            }
          }
        }

        &:not(:last-of-type) {
          margin-right: 1.5rem;
        }
      }
    }

    #page-dot {
      left: calc(($page_controller_width - $dot_width) / 2);
      transition: 350ms ease-in-out;
      transform: translateY(50%);
      background-color: #fff;
      border-radius: 4px;
      position: absolute;
      height: $dot_width;
      width: $dot_width;
      bottom: 50%;
    }
  }

  @media (max-width: 767px) {
    padding-right: 2.5rem;

    .left-panel {
      #logo {
        width: 5rem;
      }

      .header-box .header {
        font-size: 1.25rem;
      }
    }

    #page-controls {
      transform: rotate(90deg) scale(0.45);
      position: fixed;
      right: -17.5rem;
      top: 8.1rem;
      z-index: 1;
    }
  }
}
